.PodcastEpisode {
    color: #000000;
}

.PodcastEpisode a {
    color: #000000
}

.PodcastEpisode-header {
    display: grid;
    grid-template-columns: 200px 1fr;
    margin: 0 0 3rem 0;
}
.PodcastEpisode-header-image {
    width: 200px;
}

.PodcastEpisode-header-image img{
    width: 100%;
}

.PodcastEpisode-header-title h1 {
    margin: 0;
    padding: 0 0 0 1rem
}

.PodcastEpisode a {
    text-decoration: underline;
}

.PodcastEpisode-play-button  {
    padding: 1rem;
    margin: 1rem;
    background: #000000;
    color: #ffffff;
    font-weight: 800;
    transition: background 0.1s ease-in-out;
}

.PodcastEpisode-play-button:active {
    background: rgba(0,0,0, 0.5);
}

.PodcastEpisode-play-button svg  {
    width: 24px;
    height: 24px;
    fill: rgba(0,0,0, 1);
    stroke: rgba(0,0,0, 1)
}

.PodcastEpisode-play-button svg  {
    fill: rgba(0,0,0, 0.5);
    stroke: rgba(0,0,0, 0.5);
}

@media (max-width: 700px) {
    .PodcastEpisode-header {
        grid-template-columns: none;
        justify-items: center;
    }
}