:root {
    --progress-width: 0;
    --buffered-width: 0;
}

.PodcastPlayer-AudioProgress {
    display: grid;
    grid-template-columns: 5fr 1fr;
    width: 100%;
    max-width: 1000px;
    box-sizing: border-box;
    padding: 1rem;
}

.PodcastPlayer-AudioProgress input {
    width: 100%;
    flex-grow: 1;
    accent-color: #000000;
}

.PodcastPlayer-AudioProgress input::-webkit-slider-thumb {
    z-index: 4;
    position: relative;
}

.PodcastPlayer-AudioProgress-timeElapsed {
    margin: 0 0 0 1rem;
    color: #525252;
}

